---
import BlogList from '../components/BlogList.astro'
import Layout from '../layouts/Layout.astro'
---

<Layout>
  <main>
    <h1>👋 Hello I'm Evan Hennessy</h1>
    <p>
      I'm a software engineer and designer. I'm passionate about creating
      beautiful and functional software. I'm currently working at{' '}
      <a href="https://www.glasscanvas.io">Glass Canvas</a> as Director of Research
      & Development.
    </p>

    <p>
      This website includes no javascript, no tracking, and no cookies. It
      barely includes CSS. You can bring your own CSS if you'd like to see it
      styled differently.
    </p>

    <BlogList />
  </main>
</Layout>
